
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <br>
    <div class="row">
        <div class="col-6 ">
            <div class="card card-b">
                <div class="card-header">
                    Baixe o Jogo Cace a Letra 
                </div>

                <div class="card-body">
                    <img src="~/IMG/cace a letra.png" class="card-img-top" height="350" />
                </div>
                <div class="card-footer">
                    <form action="https://drive.google.com/file/d/1rtnPl_RGvXx2uxEkIXgwDJCR4F-Fwuy2/view?usp=sharing" target="_blank">
                        <input type="submit" value="Baixar" class="btn btn-primary float-right" />
                    </form>
                    


                </div>
            </div>
        </div>
        <div class="col-6 ">
            <div class="card card-b">
                <div class="card-header">
                    Baixe o Jogo da Memoria
                </div>

                <div class="card-body">
                    <img src="~/IMG/memoria.png" class="card-img-top" height="350" />
                </div>
                <div class="card-footer">
                    <form action="https://drive.google.com/file/d/1BspbE216bnRj97obgx82bf_LiAUl-nLz/view?usp=sharing" target="_blank">
                        <input type="submit" value="Baixar" class="btn btn-primary float-right" />
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
